[submodule "methods/HippoRAG"]
	path = methods/HippoRAG
	url = https://github.com/OSU-NLP-Group/HippoRAG.git
[submodule "methods/LightMem"]
	path = methods/LightMem
	url = https://github.com/zjunlp/LightMem.git
[submodule "methods/MEM1"]
	path = methods/MEM1
	url = https://github.com/MIT-MI/MEM1.git
[submodule "methods/REMem"]
	path = methods/REMem
	url = https://github.com/intuit-ai-research/REMem.git
